behaviors:
  Shooter:
    trainer_type: ppo
    max_steps: 400000
    time_horizon: 1000
    summary_freq: 1000

    hyperparameters:
      batch_size: 1024
      buffer_size: 20480
      learning_rate: 1.0e-4
      beta: 1.0e-3
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 5

    network_settings:
      normalize: true
      hidden_units: 128
      num_layers: 2

    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0
